/*          GLOBAL RULES                  */
/*====================================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
}

html, body {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

a, a:hover{
    text-decoration: none;
    color: white;
}


/*          SIDE DASHBOARD               */
/*====================================== */
#dash-sidebar{
    position: relative;
    background-color: #212529;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    

    /*Box Shadow*/
    box-shadow: 6px -1px 5px -5px rgba(131,126,126,1);
    -webkit-box-shadow: 6px -1px 5px -5px rgba(131,126,126,1);
    -moz-box-shadow: 6px -1px 5px -5px rgba(131,126,126,1);
}

/* logo styling */
#dash-logo{
    position: relative;
    width: 100%;
    height: 10%;
    text-align: center;
    color: white;
    margin-top: 20%;
    margin-bottom: 20%;
}

#dash-nav{
    position: relative;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;    
}

.dash-btn{
    position: relative;
    width: 100%;
    height: 10%;
    text-align: center;
}

.dash-btn a:hover{
    color: #447AB9;
    font-size: 1.1rem;
}

.static {
    color: #447AB9;
    font-size: 1.1rem;

    /* text shadow */
    text-shadow: 1px 1px 20px rgba(130,166,214,0.5);
}


/*            MAIN CONTENT               */
/*====================================== */
#content-box{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
}

#table-wrapper{
    position: relative;
    width: 100%;
    height: 75%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999 !important;
    scrollbar-width: thin;

    /*BOX SHADOW*/
    box-shadow: 6px 7px 11px -5px rgba(131,126,126,1);
    -webkit-box-shadow: 6px 7px 11px -5px rgba(131,126,126,1);
    -moz-box-shadow: 6px 7px 11px -5px rgba(131,126,126,1);
}

#big-table tbody tr:hover{
    background-color: #EBEEF3;
    cursor: pointer;
}

.tr-selected{
    border-top: 2px solid  #447AB9;
    border-bottom: 2px solid  #447AB9;
    background-color: #EBEEF3;
}

/*            DASHBOARD-PAGE             */
/*====================================== */
#top-graph {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* width: 100%;  */
    max-height: 70%;
    background-color: #EBEEF3;
}

#myChart {
    max-height: 100%;
    max-width: 1500px;
}

#dashboard-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: #EBEEF3;
}

#bottom-search-dash {
    position: relative;
    align-self: center;
    justify-content: space-around;
    display: flex;
    border: solid rgba(0,0,0,0.2) 1px;
    height: 90%;
    width: 95%;
    background-color: #ffffff;
    z-index: 9999 !important;
}

#big-table tr:hover{
    background-color: #EBEEF3;
}

#dash-card{
    border: none!important;
    text-align: center;
    max-height: 75%;
    margin: 20px;
}

#dash-card p{
    font-size: 6vw;
    color:#00c480;
    height: 100%;
    width: 100%;
}


/*          SIDE DASHBOARD               */
/*====================================== */
#bottom-ctrl{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 25%;
    background-color: #EBEEF3;
}

#bottom-count, #bottom-search {
    position: relative;
    align-self: center;
    justify-content: space-around;
    display: flex;
    border: solid rgba(0,0,0,0.2) 1px;
    height: 90%;
    width: 20%;
    background-color: #ffffff;
    z-index: 9999 !important;
}

#count-card{
    border: none!important;
    text-align: center;
}

#count-card p{
    font-size: 6rem;
    color:#00c480;
}

#bottom-search{
    width: 75%;
}

#bottom-srch-frm{
    position: relative;
    height: 80%;
    width: 80%;
    align-self: center;
    justify-content: space-around;
}

.btn {
    background-color: #447AB9;
    border-color: #447AB9;
}
.btn:hover {
    background-color: #325886;
    border-color: #325886;
}


/*              LIGHTBOX                  */
/*====================================== */
.ltbox-bckdrp{
    position: absolute;
    display: flex;
    justify-content: center;    
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
    z-index: 9999 !important;
}

#ltbox-form-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 75%;
    z-index: 99999 !important;
    background-color: #ffffff;
    align-self: center;
    justify-content: center;
}

#ltbox-form-wrap-prod {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 50%;
    z-index: 99999 !important;
    background-color: #ffffff;
    align-self: center;
    justify-content: center;
}

#ltbox-form-wrap-cust2{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 50%;
    z-index: 99999 !important;
    background-color: #ffffff;
    align-self: center;
    justify-content: center;
}

#ltbox-form-wrap-cust1{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 40%;
    z-index: 99999 !important;
    background-color: #ffffff;
    align-self: center;
    justify-content: center;
}

#ltbox-form-wrap-cust-ord{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    max-height: 90%;
    overflow-y: scroll;
    z-index: 99999 !important;
    background-color: #ffffff;
    align-self: center;
    justify-content: center;
}

#ltbox-ctrl{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    width: 100%;
    height: 5%;
    margin-bottom: 5%;
}

#ltbox-crt-x{
    width: 2.5%;
    height: 100%;
    margin-right: 1%;
}

#ltbox-ctrl a{
    color: black;
}

#ltbox-form{
    position: relative;
    align-self: center;
    width: 90%;
    height: 80%;
}

#ltbox-form-ord{
    position: relative;
    align-self: center;
    justify-content: center;
    width: 90%;
    height: 40%;
    max-height: 40%;
}

#form-ord-row{
    position: relative;
    display: flex;
    flex-grow: unset;
    justify-content: center;
    max-height: 100%;
}

.cust-ord-ctrl{
    margin-top: 2%;
    margin-bottom: 0% !important;
}

#cust-ord-table{
    display: flex;
    position: relative;
    width: 95%;
    height: 60%;
    min-height: 60%;
    align-self:center;
    overflow-y: scroll;
    margin-bottom: 2%;
}

#cust-ord-btn-wrap{
    margin-bottom: 2%;
}

/*              alert                    */
/*====================================== */
#select-alert {
    position: absolute;
    width: 100%;
    height: 6%;
    z-index: 9999999 !important;
    border-radius: 0 !important;
    text-align: center;
    opacity:0;
}

/*           Reference  Cited 

The code below used the following reference code to achieve the fade in and out effect.

Original Author: Unknown
Original Source: https://stackoverflow.com/questions/30125705/css-how-to-make-an-element-fade-in-and-then-fade-out
*/
.fade-inOut {
    opacity: 1;
    animation: fade 2s linear;
}

@keyframes fade {
    0%, 100% {opacity: 0;}
    50% {opacity: 1;}
}
/*          END REFERENCE          */